.venv
videos
output
interlope_videos
videos
videos2
videos3
videos3_talvez
videos3_terminado
videos4
videos5
videos_all
videos_30fps
videos_30fps_2
videos_30fps_3
testes_videos
train_frames
val_frames
testes_videos
outras_versoes
dataset_videos